
.container-fluid{
  background-color: black;
}

.nav-link{
  color: white;

}
.form-control{
  border-radius: 60px;
}
.text{
  position: absolute;
  left: 1220px;
  top: 350px;
  /* border: 2px solid ; */
  height: 190px;
  width: 460px;
  padding: 50px 5px ;
  border-radius: 74px;
  /* background-color: black; */
  color: white;
  font-size: 33px;
  backdrop-filter: blur(1px);
  /* box-shadow: 0px 0px 30px black; */
  /* border: 2px solid black; */
  background: linear-gradient(rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0.6));

  
}
.text1{
  position: absolute;
  left: 1300px;
  top: 550px;
  border: 2px solid ;
  height: 70px;
  width: 308px;
  padding: 10px 30px ;
  border-radius: 24px;
  font-size: 33px;
  background-color: black;
  color: white;
  z-index: 999;
}
.text1 .bi {
  padding-left: 10px;
  color: #f1cf54;
}
.heleft .bi {
  padding-left: 10px;
  padding-right: 10px;
  color: #f1cf54;
}
  .wi {
  padding-left: 80px;
  color: #f1cf54;
  font-size: 60px;

}
.section-body{
  background-color: black;
  color: white;
  padding: 50px 70px;

}

 li{
  list-style: none;
}
/* .homepage{
  
} */
.pimg{
  height: 300px;
  width: 150px;
  padding-top: 25px;
}
/* .homepage{
  z-index: -1;
} */
/* #img-Naruto */
.container{
  display: flex;
  width: 100%;
  height: 540px;
  margin: 70px 100px;
  /* gap: 5px; */

}
.card{
  flex: 1;
  min-width: 100px;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}
.card img{
  width:100%;
  height: 100%;
  object-fit: cover;
}
.container:hover .card{
  flex: 0.1;
}
.container .card:hover{
  flex: 5;
}
.heleft {
  display: flex;
  border: 2px solid;
  background-color: black;
  color: white;
  border-radius: 60px;
  width: 250px;
}
/* .container{
  margin: 100px;
} */
.head1{
  display: flex;
  
  
}
.naru{
  position: relative;
  left: 400px;
  border: 2px solid;
  background-color: black;
  color: white;
  border-radius: 24px;
  width: 200px;
  text-align: center;
  
}
.sword{
  position: relative;
  left: 400px;
  border: 2px solid;
  background-color: black;
  color: white;
  border-radius: 24px;
  width: 350px;
  text-align: center;
  
}
.blea{
  position: relative;
  left: 350px;
  border: 2px solid;
  background-color: black;
  color: white;
  border-radius: 24px;
  width: 370px;
  text-align: center;
  
}
.death{
  position: relative;
  left: 350px;
  border: 2px solid;
  background-color: black;
  color: white;
  border-radius: 24px;
  width: 250px;
  text-align: center;
  
}
.anime{
  margin: 50px;
}
/* .dropdown-item{
  margin: 100px;
} */
.head{
  margin: 50px 0px;
}
.contain{
  background-color: #d4d3c5;
  /* color: white; */
  padding: 0px 100px;
}
.control{
  width: 40%;
}
/* a .bi{  
  height: 100px;
} */
/* ul.d-flex li:nth-child(2) {
  font-size: 2rem;
  transform: scale(1.2);
} */
ul.d-flex li.ms-3 i.bi {
  font-size: 2rem;
}
.container-fluid-bg{
  background-color: #f1cf54;
}